.button-wrapper {
  position: absolute;
  right: 10px;
  z-index: 10;
}

button {
  display: block;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #000;
  border: none;
  text-align: right;
  font-size: 30px;
  padding: 15px;
}

button:hover {
  text-shadow: 2px 2px #fff;
}

button:focus {
  display: none;
}

.bi.bi-chevron-down,
.bi.bi-chevron-up,
.bi.bi-person,
.bi.bi-code-slash,
.bi.bi-award,
.bi.bi-cloud-drizzle-fill,
.bi.bi-stars,
.bi.bi-peace {
  font-size: 25px;
  padding: 5px 10px;
}

.BMLogo {
  padding: 5px 5px 5px 15px;
}

#tech-icon-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  background-color: #ddb7ab;
  width: 330px;
  margin-left: 12px;
}

#tech-icon-wrapper .fab {
  font-size: 28px;
}

.about-p {
  font-size: 20px;
  text-align: left;
  width: 315px;
  margin-left: 12px;
  padding: 10px;
  background-color: #ddb7ab;
}

#certification-wrapper,
#project-wrapper {
  text-align: left;
  margin-left: 15px;
  background-color: #ddb7ab;
  padding: 10px;
}

#certification-wrapper a,
#project-wrapper a {
  font-size: 20px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  line-height: 1.3;
  align-items: center;
}

#certification-wrapper a:hover,
#project-wrapper a:hover {
  font-weight: bolder;
  text-shadow: 2px 2px #ffffff;
}

#contact-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
}
#contact-wrapper .bi {
  font-size: 28px;
}

#contact-wrapper i:hover {
  text-shadow: 2px 2px #ffffff;
  cursor: pointer;
}

@media (max-width: 425px) {
  button {
    font-size: 25px;
  }
}
